@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300);
body {
  align-items: center;
  background: #222;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  font-weight: 30px;
}
h1 {
  font-size: 30px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(90deg, #4CAF50, #FFEB3B);
  display: inline-block;
  font-weight: 500;
  letter-spacing: 0.3125rem;
  line-height: 1em;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
}
.svg-container {
  height: 124px;
  position: relative;
  width: 124px;
}
.svg-container h1 {
  color: #aaa;
  font-family: "Source Sans Pro";
  font-size: 1.6rem;
  left: 50%;
  letter-spacing: 4px;
  position: absolute;
  text-align: center;
  top: -50px;
  transform: translateX(-50%);
  width: 100%;
}
.circle {
  height: 124px;
  width: 124px;
}
.circle .background {
  fill: transparent;
  stroke: red;
  transition: all 200ms ease;
}
.circle .foreground {
  fill: transparent;
  stroke-dasharray: 377;
  stroke-dashoffset: 377;
  stroke: #39FF14;
  transform-origin: 50% 50%;
  transform: rotate(-270deg);
  transition: all 800ms ease;
}
.circle .line {
  stroke-width: 2;
  stroke: #1abc9c;
  transform-origin: 50% 50%;
  transition: all 500ms ease;
}
.circle .line2 {
  transform: rotate(-90deg);
}
.circle:hover {
  cursor: pointer;
}
.circle:hover .background {
  stroke: transparent;
}
.circle:hover .foreground {
  stroke-dashoffset: 0;
  transform: rotate(-90deg);
}
.circle:hover .line {
  stroke: #EE3769;
}
.circle:hover .line {
  transform: rotate(180deg);
}
.circle:hover .line2 {
  transform: rotate(0);
}
.cos{
  visibility: 0%
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100%;
}
